{% load static %}
<div id="pagewrap" class="pagewrap">
    <div id="html-content" class="wrapper-content">
      <header>
        {% comment %}
        <div class="header-top top-layout-02">
          <div class="container">
            <div class="topbar-left">
              <div class="topbar-content">
                <div class="item"> 
                  <div class="wg-contact"><i class="fa fa-map-marker"></i><span>160 White Oak Drive Kansas City</span></div>
                </div>
                <div class="item"> 
                  <div class="wg-contact"><i class="fa fa-phone"></i><span>012 987 650</span></div>
                </div>
              </div>
            </div>
            <div class="topbar-right">
              <div class="topbar-content">
                <div class="item">
                  <ul class="socials-nb list-inline wg-social">
                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
                <div class="item">
                  <div class="wg-social"><i class="fa fa-user"></i><a href="javascript:void(0)">My Account</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
        <div class="header-main">
          <div class="container">
            <div class="open-offcanvas">&#9776;</div>
            <div class="utility-nav">
              <div class="dropdown dropdown-full-mobile "><a href="{% url 'web:cart' %}"  role="button" class="search-bar" ><i class="fa fa-shopping-bag" style="color: black;">
                <span id="cartCount" class="cart-count"> {% if cartLength  %}{{cartLength}}{% else %} 0 {% endif %}</span>
              </i></a>
                <!-- <div class="dropdown-menu">
                  <div class="cart_lite">
                    <div class="cart_lite_list">
                      <ul>
                        <li class="cart_lite_item"><a href="product-single.html" class="cart_item_thumbnail"><img width="150" height="100" src="{% static 'web/images/product/product-circle-1h.jpg' %}" alt="" class="img-responsive"></a>
                          <div class="cart_item_summary"><a href="product-single.html" class="cart_item_title">Caramel Frappuccino</a><span class="product-price-amount"><span class="quantity">1 × </span><span class="product-price-currencySymbol">$</span>12.0</span></div><a href="#" class="remove_from_cart_button">×</a>
                        </li>
                        <li class="cart_lite_item"><a href="product-single.html" class="cart_item_thumbnail"><img width="150" height="100" src="{% static 'web/images/product/product-circle-1k.jpg' %}" alt="" class="img-responsive"></a>
                          <div class="cart_item_summary"><a href="product-single.html" class="cart_item_title">Chocolate Fudge Ripple</a><span class="product-price-amount"><span class="quantity">2 × </span><span class="product-price-currencySymbol">$</span>24.0</span></div><a href="#" class="remove_from_cart_button">×</a>
                        </li>
                      </ul>
                    </div>
                    <div class="cart_lite_total">
                      <p><strong>Subtotal: </strong><span class="product-price-amount"><span class="product-price-currencySymbo">$</span>60.0</span></p>
                    </div>
                    <div class="cart_lite_button"><a href="cart.html" class="swin-btn btn-sm"><span>View Cart</span></a><a href="product-checkout.html" class="swin-btn btn-sm"><span>Checkout</span></a></div>
                  </div>
                </div> -->
              </div>
              <!-- <div class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="search-bar dropdown-toggle"><i class="fa fa-search"></i></a>
                <div class="dropdown-menu">
                  <div class="search-form">
                    <form action="#">
                      <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="header-logo"><a href="{% url 'web:index' %}" class="logo"><img src="{% static 'web/images/logo 1.svg' %}" style="width: 35%;" alt="fooday" class="logo-img"></a></div>
            <nav id="main-nav-offcanvas" class="main-nav-wrapper">
              <div class="close-offcanvas-wrapper"><span class="close-offcanvas">x</span></div>
              <div class="main-nav">
                <ul id="main-nav" class="nav nav-pills">
                  <li class="dropdown {% if is_index %} current-menu-item {% endif %}"><a href="{% url 'web:index' %}" >Home</a>
                    <!-- <i class="fa fa-angle-down btn-open-dropdown"></i> -->
                    <!-- <ul class="dropdown-menu">
                      <li><a href="index.html">Home 1</a></li>
                      <li><a href="homepage2.html">Home 2</a></li>
                      <li><a href="homepage3.html">Home 3</a></li>
                      <li><a href="home-fullpage.html" target="_blank">Home Full Page</a></li>
                      <li><a href="index.html">Home Shop</a></li>
                      <li><a href="homesidebarmenu.html">Home Sidebar Menu</a></li>
                      <li><a href="home-one-page.html" target="_blank">Home One Page</a></li>
                      <li><a href="home-boxed.html">Home Boxed</a></li>
                    </ul> -->
                  </li>
                  <!-- <li><a href="about.html">About</a></li> -->
                  <!-- <li><a href="reservation.html">Reservation</a></li> -->
                  <li class="dropdown {% if is_about %} current-menu-item {% endif %}"><a href="{% url 'web:menu' %}" class="dropdown-toggle">
                       
                      Menu</a>
                      <!-- <i class="fa fa-angle-down btn-open-dropdown"></i> -->
                    <!-- <ul class="dropdown-menu">
                      <li><a href="menu-classic.html">Menu Classic</a></li>
                      <li><a href="menu.html">Menu Grid 01</a></li>
                      <li><a href="menu-grid-2.html">Menu Grid 02</a></li>
                      <li><a href="menu-grid-3.html">Menu Grid 03</a></li>
                      <li><a href="product-single.html">Product Detail</a></li>
                      <li><a href="cart.html">Product Cart</a></li>
                      <li><a href="product-checkout.html">Product Checkout</a></li>
                    </ul> -->
                  </li>
                  <!-- <li class="dropdown"><a href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Gallery</a>
                    <i class="fa fa-angle-down btn-open-dropdown"></i>
                    <ul class="dropdown-menu">
                      <li><a href="blogs.html">Blog List</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                      <li><a href="page-404.html">404 Page</a></li>
                    </ul>
                  </li> -->
                  <li class="dropdown {% if is_gallery %} current-menu-item {% endif %}"><a href="{% url 'web:gallery' %}" class="dropdown-toggle">
                       
                    Gallery</a></li>
                  <li class="dropdown {% if is_contact %} current-menu-item {% endif %}"><a href="{% url 'web:contact' %}">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>